.form_popUp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  display: none;
  align-items: center;
  justify-content: center;
}

.wrapper_form {
  background: #fff;
  border-radius: 10px;
  width: 30%;
  height: 400px;
}

.order_form {
  padding: 15px;
}

.inputs {
  width: 50%;
  margin: 20px auto;
}

.order_form h2 {
  text-align: center;
}

.close_cross {
  max-width: min-content;
  position: relative;
  top: -30px;
  right: -97%;
  scale: 1.2;
  cursor: pointer;
}

.overflow {
  overflow: hidden;
}

.input_info {
  padding: 10px;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  width: 250px;
}

.wrapper_btn {
  width: 50%;
  margin: 0 auto;
}

#server_order_btn {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 16px;
  /* background: linear-gradient( 90deg, #48a5a5 0%, var(#57E2C2) 100% ); */
  cursor: pointer;
  background-color:#48a5a5;
  border: 1px solid #245151;
  color: #eeeeee;
}
